.loginDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* aligns items on the line (the y-axis if flex-direction is row) */
    align-items: center;
    /* aligns items on the cross-axis (the x-axis if flex-direction is row) */
    height: 40vh;
    margin-top: 50px;
    /* viewport height - this makes the div take up the full height of the screen */

}

.textInput {
    display: block;
    margin-top: 10px;
}

.textInput-adress {
    display: block;
    margin-top: 10px;
    padding-bottom: 20px;
}

.addButton {

    margin-top: 10px;
    margin-bottom: 10px;
}