.loginDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

.button-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.slider {
    position: absolute;
    bottom: 0;
    width: 33.33%;
    /* Üç buton olduğu için genişlik %33.33 */
    height: 3px;
    background-color: #4CAF50;
    /* Yeşil rengi temsil eder, sağlıkla ilişkilidir */
    transition: transform 0.3s ease-in-out;
}

.login-type-selector {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #e8e8e8;
    border: none;
    border-radius: 5px;
    color: #5c5c5c;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease;
}

.login-type-selector.active {
    background-color: #4CAF50;
    color: white;
}

.login-input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-button {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}