@keyframes slideBarAnimation {
    0% {
        background-color: #4CAF50;
        /* Başlangıç rengi */
    }

    25% {
        background-color: #FFC107;
        /* İlk geçiş rengi */
    }

    50% {
        background-color: #2196F3;
        /* İkinci geçiş rengi */
    }

    75% {
        background-color: #FF5722;
        /* Üçüncü geçiş rengi */
    }

    100% {
        background-color: #4CAF50;
        /* Başlangıç rengine geri dönme */
    }
}

@keyframes slideButtonAnimation {
    0% {
        background-color: #4CAF50;
        /* Başlangıç rengi */
    }

    25% {
        background-color: #FF5722;
        /* İlk geçiş rengi */
    }

    50% {
        background-color: #2196F3;
        /* İkinci geçiş rengi */
    }

    75% {
        background-color: #FFC107;
        /* Üçüncü geçiş rengi */
    }

    100% {
        background-color: #4CAF50;
        /* Başlangıç rengine geri dönme */
    }
}

.slider {
    height: 2px;
    width: 100%;
    background-color: #4CAF50;
    /* Slider'ın başlangıç rengi */
    position: absolute;
    bottom: 0;
    left: 0;
    animation: slideBarAnimation 5s linear infinite;
    /* Slider için animasyon */
}

.button-container {
    display: flex;
    position: relative;
}

.login-type-selector {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    animation: slideButtonAnimation 5s linear infinite;
    /* Butonlar için animasyon */
}

.login-type-selector.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.loginDiv {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.login-button:hover {
    background-color: #45a049;
}