.MainPage {

    flex-direction: column;

}

.main-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    display: block;
}

.main-button:hover {
    background-color: #45a049;
}