.MainPage {

    flex-direction: column;

}

body {
    background-image: url('./src/assets/back.webp');
    /* Arka plan resmi */
    background-size: 100% 100%;
    /* Resmin ekran boyutuna oturacak şekilde boyutlandırılması */
    background-repeat: no-repeat;
    /* Resmin tekrarlanmaması */
    background-attachment: fixed;
    /* Resmin ekranla sabit kalması */
}

.main-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    display: block;
}

.main-button:hover {
    background-color: #45a049;
}