.navbar {
    background-color: #f0f0f0;
    /* Navbar arka plan rengi */
    color: #fff;
    /* Navbar metin rengi */
    padding: 1rem;
    /* Navbar iç boşlukları */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    /* Öğeleri sağa ve sola doğru konumlandırır */
    align-items: center;
    /* Öğeleri dikeyde ortalar */
}

.navbar-logo {
    color: #fff;
    /* Logo metin rengi */
    text-decoration: none;
    /* Link altı çizgisini kaldırır */
    font-size: 1.5rem;
    /* Logo metin boyutu */
}

.navbar-menu {
    list-style: none;
    /* Menü öğelerindeki liste işaretlerini kaldırır */
    display: flex;
}

.navbar-item {
    margin-right: 1rem;
    /* Menü öğeleri arasındaki sağ boşluk */
}

.navbar-link {

    color: #000;
    /* Varsayılan link rengi */
    /* Menü linklerinin metin rengi */
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s;

    /* Link altı çizgisini kaldırır */
}

.navbar-link:hover {
    color: #e10505;
    /* Linkin üzerine gelince değişecek olan renk */
}

.login:hover {
    box-shadow: 0px 0px 5px #888888;
    /* Hafif bir gölgelendirme */
    /* veya */
    /* background-color: #7386D5;  Koyu mavi tonu */
}