.navbar {
    /* Navbar arka plan rengi */
    color: #fff;
    /* Navbar metin rengi */
    padding: 1rem;
    /* Navbar iç boşlukları */
}


.navbar-container {
    display: flex;
    justify-content: space-between;
    /* Öğeleri sağa ve sola doğru konumlandırır */

    /* Öğeleri dikeyde ortalar */
}

.navbar-logo {
    color: #fff;
    /* Logo metin rengi */

    text-decoration: none;
    /* Link altı çizgisini kaldırır */
    font-size: 1.5rem;
    /* Logo metin boyutu */
    cursor: pointer;
}

.navbar-menu {
    list-style: none;
    /* Menü öğelerindeki liste işaretlerini kaldırır */
    display: flex;
}

.navbar-item {
    margin-right: 1rem;
    /* Menü öğeleri arasındaki sağ boşluk */
}

.navbar-link {

    color: #000;
    /* Varsayılan link rengi */
    /* Menü linklerinin metin rengi */
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-right: 1rem;
}

.navbar-link:hover {
    color: #e10505;
    /* Linkin üzerine gelince değişecek olan renk */
}